<!DOCTYPE html>
<html>
<head>
  <title>Twip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'partial/layout_headnavi' %>
  <%= yield %>
  <%= render partial: 'partial/layout_footer' %>
</body>
</html>
